
<h1>Display your Pirate here</h1>
<h2> Pirate Name:<%= @pirate.name %> </h2>
<h3> Pirate Height:<%= @pirate.height %> </h3>
<h3> Pirate Weight:<%= @pirate.weight %> </h3>

<h1>Display your first ship here</h1>

<h2> Ship No. 1 Name:<%= @ships[0].name %> </h2>
<h3> Ship No. 1 Type:<%= @ships[0].type %> </h3>
<h3> Ship No. 1 Booty:<%= @ships[0].booty  %> </h3>

<h1>Display your second ship here</h1>
<h2> Ship No. 2 Name:<%= @ships[1].name %> </h2>
<h3> Ship No. 2 Type:<%= @ships[1].type  %> </h3>
<h3> Ship No. 2 Booty:<%= @ships[1].booty %> </h3>
