
<h1>Display your Pirate here</h1>
<h2> Pirate Name:<%= @pirate.name %> </h2>
<h3> Pirate Height:<%= @pirate.height %> </h3>
<h3> Pirate Weight:<%= @pirate.weight %> </h3>

<h1>Display your first ship here</h1>
<% @ships.each do |ship|%>
<h2> Ship No. 1 Name:<%= ship.name %> </h2>
<h3> Ship No. 1 Type:<%= ship.type %> </h3>
<h3> Ship No. 1 Booty:<%= ship.booty  %> </h3>

<h1>Display your second ship here</h1>
<h2> Ship No. 2 Name:<%= ship.name %> </h2>
<h3> Ship No. 2 Type:<%= ship.type  %> </h3>
<h3> Ship No. 2 Booty:<%= ship.booty %> </h3>
<% end %>
